body{
  background-color: #c6d8d3;
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
    color: #3a3335;
    text-align: center;
    font-weight: 700;
}
.todos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoItem {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.todoItem > div {
  display: flex;
  flex-direction: column;

}
.todoItem > .todo-body > span + span{
  width: 15em;
  overflow-wrap: normal;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
  color: #3a3335
}
.todoItem > div + div{
  margin-left: 30px;
}
.todoItem > div + div > span{
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.todoItem > div > span.low{
  border: solid #fdf0d5 1px;
  background-color: #fdf0d5;
}
.todoItem > div > span.medium{
  border: solid #f0544f 1px;
  background-color: #f0544f;
}
.todoItem > div > span.high{
  border: solid #d81e5b 1px;
  background-color: #d81e5b;
}
.del{
  border: solid #dfdce3 1px;
  background-color: #dfdce3;
  border-radius: 5px;
  cursor: pointer;
}
.del > i{
  display: flex;
  justify-content: center;
}
.completed{
    text-decoration: line-through;
    color: #dfdce3;
}
.not{
    text-decoration: underline;
}
h2{
  text-align: center;
  color: #3a3335
}
form{
  text-align: center;
}
body > div{
  padding: 1em;
  text-align: center;
}
.todo-date{
  color: #fdf0d5
}
.logout{
  text-decoration: none;
}